*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a{
    text-decoration: none
    color(srgb-linear rgb(139, 134, 134) rgb(116, 120, 116) rgb(66, 66, 71))

}

img{
    cursor: pointer;
}

.flex-div{
    display: flex;
    align-items: center;
}